@import 'variables';
@import 'functions';


* {
  margin: 0;
  padding: 0;
}

body {
  background:$body-bg;
  font-family: $main-font;
  text-align: center;
 }

 a{
   text-decoration: none;
   color: $dark-color;
 }

 .container{
   min-width: $container;
   margin: auto;
   padding: 0 20px;
 }

 header#main-header{
   padding: 1em;
   background: $primary-color;
   color: setTextColor($primary-color);

   h1{
     font-size: 40px;
   }
 }

 nav#main-nav{
   background: $secondary-color;
   height: 40px;
   ul{
    list-style: none;
    padding-top: 10px;
   }

   li{
    display: inline;
   }

   a{
      color: #fff;
      padding-right: 20px;
      &:hover{
        color: #ccc;
      }
  }
 }

 .section{
  padding: $section-padding;

  h1{
    margin-bottom: 30px;
  }
 }
 #section-a{
  @extend .section;
  background: $light-color;
  color: setTextColor($light-color);  
 }

 #section-b{
  @extend .section;
  background: $dark-color;
  color: setTextColor($dark-color);   
 }

 .button{
   padding: 10px 15px;
 }

 .button-a{
   @extend .button;
   background: darken($primary-color, 10%);
   color: setTextColor($primary-color);     
 }
 .button-b{
  @extend .button;
  background: lighten($secondary-color, 10%);
  color: setTextColor($secondary-color);     
}